@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px !important;
  margin: auto !important;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding: 8px 0;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.nav-item:hover::after {
  width: 50%;
}
